body{
  background-color: #7a5ad6;
}
.navbar{
  background-color: #cfb6ff;
}
.nav-item{
  font-size:x-large;
}
.main-fluid h1{
 color:#ffff;
font-size: 35px;
   display: flex;
 text-align: center;
  justify-content:start;
  padding: 10px;
  background-color:#cfb6ff;
}
.btn:hover{
  background-color: #7a5ad6;
  font-size:x-large;
}
