

body {
  background-color: #ffffff;
}
h2 {
  font-weight: bold;
  color: #030303; 
}
p {
  font-size: 1.5rem;
  color: #030303; /* Color del texto del párrafo */
  line-height: 1.1;
  text-align:center;
}
.navbar:hover {
  background-color: #ffffff;
  background-color: #4abe07;
}
.nav-item {
  font-size: x-large;
}
.main-fluid h1{
  font-weight: bold;
  color: #9c9a9a99;
  font-size: 35px;
  text-align: center;
  padding: 5px;
  background-color: #fff;
}

.btn:hover {
  background-color:#bbffce;
  font-size: x-large;
  color: #010101;
}

/* Cambia el color de la flecha de retroceso */
.carousel-control-prev-icon {
  background-color: #4abe07;
  border-radius: 50%; /* Para que tenga un efecto circular */
}

/* Cambia el color de la flecha de avance */
.carousel-control-next-icon {
  background-color: #4abe07; /* Cambia el color aquí */
  border-radius: 50%; /* Para que tenga un efecto circular */
}

.dropdown-menu {
  background-color: #4abe07;
  transition: background-color 0.3s ease;
  font-size: 1.8rem;
}
.dropdown-item:hover {
  background-color:#bbffce; /* Color al pasar el cursor por encima */
  color: #000000;
}
/* Aplicando estilos a las secciones */
/* Archivo CSS */
.bg-mision {
  background-color:#bbffce; /* Color azul personalizado */
}

.bg-vision {
  background-color: #ffffa5; /* Color amarillo personalizado */
}

.bg-historia {
  background-color: #000000; /* Color gris oscuro personalizado */
}

/* Footer Styles */
.custom-footer{
  background-color: #000000; /* Fondo claro */
  color: #212529; /* Texto oscuro */
  padding: 40px 0;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 20px;
  min-width: 280px;
}
/* Títulos y separadores */
.footer-section h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.footer-divider {
  width: 50px;
  height: 3px;
  background-color: #000000; /* Color de línea divisor */
  margin-bottom: 20px;
  border: none;
}

/* Información de contacto */
.contact-info {
  background-color: #bbffce;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(243, 12, 12, 0.1);
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact-item i {
  font-size: 20px;
  color: #007bff;
  margin-right: 10px;
}
/* Formulario de Contacto */
.contact-form {
  background-color: #bbffce;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px #0101011a;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: 1px solid #4abe07;
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: 5px;
}

.form-group input:focus, 
.form-group textarea:focus {
  border-color: hwb(0 100% 0%);
  outline: none;
  box-shadow: 0 0 15px #4abe07; 
}

.submit-btn {
  background-color: #007bff;
  color:#ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}
.social-media a {
  display: inline-block;
  color: white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  margin: 0 5px;
  font-size: 20px;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #4abe07;
}
.social-media a.facebook {
  background-color: #3b5998; /* Color de Facebook */
}

.social-media a.whatsapp {
  background-color: #25d366; /* Color de WhatsApp */
}

.social-media a.instagram {
  background-color: #e1306c; /* Color de Instagram */
}

a.instagram:hover {
  background-color: #ff0000; /* Color de Instagram */
}
a.whatsapp:hover {
  background-color: #00ff5e; /* Color de WhatsApp */
}

a.facebook:hover {
  background-color: #0051ff; /* Color de Facebook */
}


